.content-container{
    border: solid #012a4c;
    background: transparent;
    margin: 1% 15%;
    overflow: fragments;
    float: left;
}

body{
    background: #f7f7f7;
}

#arrow{
    width: 60px;
    height: 60px;
}

.forecast-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

h1, h2{
    font-family: "Source Serif Pro";
    color: #012a4c;
}

p{
    font-family: "Source Sans Pro";
    color: #012a4c;
}

a {
  text-decoration: none;
}

button{
    font-family: "Source Sans Pro";
    color: #012a4c;
    cursor: pointer;
}

button:hover {
    background-color: #005b91;
}

