.content-container{
    border: solid #012a4c;
    background: transparent;
    margin: 1% 15%;
    overflow: fragments;
    float: left;
}

h1, h2{
    font-family: "Source Serif Pro";
    color: #012a4c;
}

p, button{
    font-family: "Source Sans Pro";
    color: #012a4c;
}

button:hover {
    background-color: #005b91;
}

input{
    height: 15px;
    border-radius: 5px;
    background-color: white;
}