.weather-container {
    width: 100%;
    margin-left: auto;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #efefef;
    border: solid #012a4c;
}
h2{
    font-size: 2.5em;
}

p{
    font-size: 2em;
}

.weather-content-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; /* Spacing between grid items */
}

.content-container div {
    display: flex;
    align-items: center;
    gap: 10px; /* Spacing between icon and text */
}

.weatherIcon {
    width: 30px; /* Adjust icon size as needed */
    height: 30px;
}

.content-container p {
    margin: 0;
    font-size: 10.5em; /* Slightly larger text for temperature and other data */
}

